<div class="container">
  
  <h1>Editing Computer Equipment</h1>
  <%= link_to 'Ver', @computer_equipment %> |
  <%= link_to 'Atrás', computer_equipments_path %>
  <br>
  <br>
  <br>
  <%= render 'form', computer_equipment: @computer_equipment %>

</div>
