<div class="container">
  
  <h1>Editando Linea Telefonica</h1>
  <%= link_to 'Atrás', phone_lines_path %> |
  <%= link_to 'Ver', @phone_line %>
  <br>
  <br>
  <br>
  <%= render 'form', phone_line: @phone_line %>

</div>
