<div class="container">
  
  <h1>Editando Impresora</h1>
  <%= link_to 'Atras', printers_path %> |
  <%= link_to 'Ver', @printer %>
  <br>
  <br>
  <br>
  <%= render 'form', printer: @printer %>

</div>
