<div class="container">
  
  <h1>Editando Material</h1>
  <%= link_to 'Atrás', materials_path %> |
  <%= link_to 'Ver', @material %>
  <br>
  <br>
  <br>
  <%= render 'form', material: @material %>

</div>
