<div class="container">
  
  <h1>Editing Warehouse</h1>
  <%= link_to 'Atrás', warehouses_path %> |
  <%= link_to 'Ver', @warehouse %>
  <br>
  <br>
  <br>
  <%= render 'form', warehouse: @warehouse %>

</div>
