<div class="container">
  
  <h1>Editando Consumible</h1>
  <%= link_to 'Atrás', consumables_path %> |
  <%= link_to 'Ver', @consumable %>
  <br>
  <br>
  <br>
  <%= render 'form', consumable: @consumable %>

</div>
